<ion-header [translucent]="true">
  <ion-toolbar color="purple">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Calculator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="purple-bg">
  <div id="container">
    <ion-card class="calculator-card">
      <ion-card-header>
        <ion-card-title class="calculator-title">CALCULATOR</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item lines="full" class="input-item">
          <ion-label position="floating">First Number</ion-label>
          <ion-input [(ngModel)]="num1" inputmode="decimal" type="tel"></ion-input>
        </ion-item>
        
        <ion-item lines="full" class="input-item">
          <ion-label position="floating">Second Number</ion-label>
          <ion-input [(ngModel)]="num2" inputmode="decimal" type="tel"></ion-input>
        </ion-item>
        
        <div class="ion-padding">
          <div class="button-container"> 
            <ion-button (click)="addition()" expand="block" color="purple-light">+</ion-button>
            <ion-button (click)="subtraction()" expand="block" color="purple-light">-</ion-button>
            <ion-button (click)="multiplication()" expand="block" color="purple-light">×</ion-button>
            <ion-button (click)="division()" expand="block" color="purple-light">÷</ion-button>
          </div>  
        </div>
        
        <div class="result-container">
          <ion-label class="result-value">Result: {{res}}</ion-label>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>