<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>PurpleWeather</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-item class="search-bar">
      <ion-input 
        [(ngModel)]="cityInput"
        placeholder="Enter city..."
        (keyup.enter)="getWeatherData()">
      </ion-input>
      <ion-button slot="end" fill="clear" (click)="getWeatherData()">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-card *ngIf="weatherData" class="weather-card">
      <ion-card-header>
        <ion-card-title>
          <img
            [src]="'https://flagsapi.com/' + weatherData.sys.country + '/flat/64.png'"
            class="country-flag"
            alt="Country Flag">
          {{ weatherData.name }}, {{ weatherData.sys.country }}
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="12" class="temperature">
              {{ weatherData.main.temp | number:'1.0-0' }}°C
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <ion-item>
                <ion-icon name="thermometer-outline" slot="start"></ion-icon>
                <ion-label>{{ weatherData.main.feels_like | number:'1.0-0' }}°C</ion-label>
              </ion-item>
            </ion-col>
            
            <ion-col size="6">
              <ion-item>
                <ion-icon name="water-outline" slot="start"></ion-icon>
                <ion-label>{{ weatherData.main.humidity }}%</ion-label>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <ion-item>
                <ion-icon name="construct-outline" slot="start"></ion-icon>
                <ion-label>{{ weatherData.main.pressure }} hPa</ion-label>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-img 
                [src]="'https://openweathermap.org/img/wn/' + weatherData.weather[0].icon + '@4x.png'"
                class="weather-icon">
              </ion-img>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
